---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import styles from './styles.module.css';
import clsx from 'clsx';

interface Props {
  layout?: 'grid' | 'list';
}

const photoModules = import.meta.glob<{ default: ImageMetadata }>(
  '/src/photos/area/*.{jpg,jpeg,png}'
);
const photoEntries = Object.entries(photoModules);

const { layout = 'grid' } = Astro.props;
---

<div
  class={clsx({
    [styles.grid]: layout === 'grid',
    [styles.list]: layout === 'list',
  })}
>
  {
    photoEntries.map(([filePath, importFn]) => {
      return (
        <div class={styles.item}>
          <Image src={importFn()} alt={filePath} width={600} height={400} class={styles.image} />
        </div>
      );
    })
  }
</div>
