---
import WhyVisit1 from '../data/_fixtures/why-visit-1.md';
import AreaPhotos from '../components/AreaPhotos/index.astro';
import Box from '../components/Box.astro';
import headerBg from '../images/bg.png';
import Contact from '../components/Contact.astro';
---

<header
  style={`background-image: url(${headerBg.src}); background-size: cover; background-position: center;`}
  <div
  class="flex flex-col md:flex-row gap-4 justify-between"
>
  <div class="p-4 flex items-center gap-4">
    <img src="/favicon-light.png" width={32} height={32} />
    <a class="text-2xl text-white" href="/">Seaside France</a>
  </div>
  <div class="p-4 text-right">
    <Contact />
  </div>
</header>
<!-- Could add last-minute super-deal CTA here -->
