---
import WhyVisit1 from '../data/_fixtures/why-visit-1.md';
import AreaPhotos from '../components/AreaPhotos/index.astro';
import Box from '../components/Box.astro';
import headerBg from '../images/bg.png';
import Contact from '../components/Contact.astro';
---

<header
  style={`background-image: url(${headerBg.src}); background-size: cover; background-position: center;`}
>
  <div class="container flex flex-col md:flex-row gap-4 justify-between pt-12 p-4">
    <div>
      <a class="pb-4 flex items-center gap-4 opacity-80" href="/">
        <img src="/favicon-light.png" width={26} height={26} />
        <span class="text-xl text-white">Seaside France</span>
      </a>
      <div class="text-white text-2xl">Holiday homes in South West France</div>
    </div>
    <div class="p-4 text-right">
      <Contact />
    </div>
  </div>
</header>
<!-- Could add last-minute super-deal CTA here -->
