---
import Toolbar from '../components/Toolbar';
---

<section class="py-12">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-4">Visit south west France</h1>
    <p class="text-gray-600 mb-8">
      The area is known for its beautiful countryside, delicious food, and friendly people.
    </p>
    <p class="text-gray-600 mb-8">
      At Le Domaine de Rochebonne, we offer a range of properties to suit your needs. Whether you're
      looking for a cozy getaway or a luxurious vacation, we have something for everyone.
    </p>
    <button class="bg-transparent text-white underline"> Read more </button>
  </div>
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-4">Your stay</h2>
    <Toolbar client:load />
  </div>
</section>
