---
import clsx from 'clsx';
const { id, class: className, title } = Astro.props;
import styles from './styles.module.css';
---

<section id={id} class={clsx(styles.hero, className)}>
  <div>
    {title && <h1 class={styles.title}>{title}</h1>}
    <slot />
  </div>
</section>
