---
import SiteBreadcrumbs from '@components/Breadcrumbs/index.astro';
import UserIcon from './UserIcon';

const { property } = Astro.props;
const items = [
  { label: 'Home', href: 'https://seasidefrance.com/' },
  { label: 'Domaine de Rochebonne', href: 'https://seasidefrance.com/chateau-de-rochebonne' },
  { label: property.name, href: `https://seasidefrance.com/${property.slug}` },
];
---

<div class="hidden md:flex items-center gap-4 mb-4 whitespace-nowrap">
  <SiteBreadcrumbs items={items} class="whitespace-nowrap" />
  <span class="flex items-center font-open gap-1 opacity-50">
    <UserIcon width={19} height={19} />
    <span class="text-lg font-semibold">{property.maxPeople}</span>
  </span>
</div>
