---
import UserIcon from './UserIcon';

const { property } = Astro.props;
---

<div class="hidden lg:flex items-center gap-4 prose mb-4 whitespace-nowrap">
  <a href="/chateau-de-rochebonne" class="text-lg font-semibold hidden lg:block">
    Domaine de Rochebonne
  </a>
  <span class="hidden lg:block">
    <i class="codicon codicon-chevron-right"></i>
  </span>
  <h3 class="m-0 text-lg font-semibold">{property.name}</h3>
  <span class="flex items-center font-open gap-1 opacity-70">
    <UserIcon width={19} height={19} />
    <span class="text-lg font-semibold">{property.maxPeople}</span>
  </span>
  <span class="flex items-center font-open gap-1 opacity-70">
    <i class="codicon codicon-location"></i>
    <a class="text-lg font-semibold" href="#location">St. Just-Luzac</a>
  </span>
</div>
