---
import clsx from 'clsx';
const { className, property, showReadMore = false } = Astro.props;
---

<div class={clsx('prose', className)}>
  <h3>{property.name}</h3>
  <p>
    {property.intro}
    {showReadMore && <a href={`/${property.slug}`}>Read more</a>}
  </p>
</div>
