@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: white;
  }
}

:root {
  --font-open: 'Open Sans Variable', 'Open Sans', sans-serif;
  --font-default:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

.font-open {
  font-family: var(--font-open);
}

.prose {
  & a {
    text-decoration: none;
    color: var(--tw-prose-links);
    transition: color 0.15s ease-in-out;
  }

  & a:hover {
    color: #2563eb;
  }
}

.container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    padding: 0 16px;
  }
}

.side-right {
  max-width: 640px;
  width: 100%;
  margin-right: auto;
}

.side-left {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
}

.shad {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}
.bg-waves {
  background-color: #056c8f;
  background-image: url('../images/wave-pattern-grey.svg');
  background-size: auto 220%;
  background-position: center;
  background-blend-mode: color-burn;
}
