:root {
  --ldg-bnb-background: #ffffff;
  --ldg-bnb-border-radius: 0.42em;
  --ldg-bnb-box-shadow: 0px 24px 54px 0px rgba(0, 0, 0, 0.1);
  --ldg-bnb-padding: 14px;
  --ldg-bnb-input-background: #ffffff;
  --ldg-bnb-button-border-radius: 0.42em;

  --ldg-bnb-color-primary: #2cb6f2;
  --ldg-bnb-color-primary-lighter: #96dbf9;
  --ldg-bnb-color-primary-darker: #165b79;
  --ldg-bnb-color-primary-contrast: #ffffff;
  --ldg-component-calendar-cell-selection-bg-color: #2cb6f2;
  --ldg-component-calendar-cell-selection-color: #ffffff;
  --ldg-component-calendar-cell-selected-bg-color: #96dbf9;
  --ldg-component-calendar-cell-selected-color: #ffffff;
  --ldg-bnb-font-family: inherit;
}
#lodgify-book-now-box {
  width: 100%;
}
