.mobileHeader {
  background-color: #056c8f;
  background-image: url('../../../images/wave-pattern-grey.svg');
  background-size: auto 220%;
  background-position: center;
  background-blend-mode: color-burn;
}
@media (max-width: 768px) {
  body {
    background-color: #056c8f !important;
  }
}
