---
import Button from '@components/Button';

type Props = {
  page?: string;
};

const { page }: Props = Astro.props;
---

<header class="p-4 md:p-8 border-b border-gray-200">
  <div class="container flex items-center flex-col md:flex-row gap-4 justify-between">
    <div class="text-center md:text-left">
      <a class="leading-none opacity-90 block" href="/">
        <span class="text-xl text-blue-900 opacity-90">
          <span class="opacity-90">seaside</span>
          <span class="ml-[1px] font-semibold">france</span>
        </span>
      </a>
      <!-- <div class="text-blue-900 text-2xl">Holiday homes in South West France</div> -->
    </div>
    <div class="hidden md:block">
      {
        page !== 'chateau-de-rochebonne' && (
          <Button variant="secondary" href="/chateau-de-rochebonne">
            Stay in Le Château
          </Button>
        )
      }
      <Button variant="secondary" href="#contact">Contact us</Button>
      {
        ['discover', 'home'].includes(page ?? '') ? (
          <Button variant="primary" href="#availability">
            See Availability
          </Button>
        ) : (
          <Button variant="primary" href="/#availability">
            See Availability
          </Button>
        )
      }
    </div>
  </div>
</header>
<!-- Could add last-minute super-deal CTA here -->
