---
import Button from '@components/Button';
import logo from './logo.png';

type Props = {
  page?: string;
};

const { page }: Props = Astro.props;
---

<header class="p-4 md:p-8 border-b border-gray-200">
  <div class="container flex md:items-center flex-col md:flex-row gap-4 justify-between">
    <div class="">
      <a class="block" href="/">
        <img src={logo.src} alt="Seaside France" width={250} />
      </a>
      <!-- <div class="text-blue-900 text-2xl">Holiday homes in South West France</div> -->
    </div>
    <div class="hidden md:flex items-center gap-4">
      {
        page !== 'chateau-de-rochebonne' && (
          <Button variant="plain" href="/chateau-de-rochebonne">
            Stay in Le Château
          </Button>
        )
      }
      <Button variant="plain" href="#contact" className="mr-2">Contact us</Button>
      {
        ['discover', 'home'].includes(page ?? '') ? (
          <Button variant="primary" href="#availability">
            See Availability
          </Button>
        ) : (
          <Button variant="primary" href="/#availability">
            See Availability
          </Button>
        )
      }
    </div>
  </div>
</header>
<!-- Could add last-minute super-deal CTA here -->
