---
import properties from '../data/properties';
import Layout from '../modules/Layout.astro';
import Property from '../components/Property/index.astro';
import SiteHeader from '../modules/SiteHeader.astro';
import Box from '../components/Box.astro';

export async function getStaticPaths() {
  return properties
    .filter((property) => property.lodgify)
    .map((property) => {
      return {
        params: { slug: property.slug },
        props: { property },
      };
    });
}

const { slug } = Astro.params;
const { property } = Astro.props;
const otherProperties = properties.filter((property) => property.slug !== slug);
---

<Layout>
  <SiteHeader />
  <main>
    <Box>
      <Property property={property} layout="fullPage" />
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        {otherProperties.map((property) => <Property property={property} layout="gridItem" />)}
      </div>
    </Box>
  </main>
</Layout>
