---
import info from '@data/info';
import clsx from 'clsx';
import Whatsapp from '@modules/Layout/SiteHeader/Whatsapp';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader';
import Box from '@components/Box/index.astro';
---

<Layout title="Contact">
  <SiteHeader client:load />
  <main>
    <div class="container">
      <Box class="prose">
        <h1>Contact us</h1>
        <p>
          We are here to help you with any questions you may have. Please contact us using the
          details below.
        </p>
        <ul>
          <li>
            <i class="codicon
        codicon-call-outgoing"></i>
            {info.phone}
          </li>
          <li>
            <i class="codicon codicon-call-outgoing"></i>
            {info.phone2}
          </li>
          <li>
            <a
              href="https://wa.me/33766384644"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center gap-2"
            >
              <Whatsapp width={20} />
              WhatsApp
            </a>
          </li>
          <li>
            <i class="codicon codicon-mail"></i>
            <a href={`mailto:${info.email}`}>
              {info.email}
            </a>
          </li>
        </ul>
      </Box>
    </div>
  </main></Layout
>
