---
import Layout from '@modules/Layout/index.astro';
import WhyVisit1 from '@data/_fixtures/why-visit-1.md';
import WhyVisit2 from '@data/_fixtures/why-visit-2.md';
import AreaPhotos from '@modules/AreaPhotos/index.astro';
import Box from '@components/Box/index.astro';
import properties from '@data/properties';
import PropertyCard from '@components/PropertyCard/index.astro';
import SiteHeader from '@modules/SiteHeader/index.astro';
---

<Layout>
  <SiteHeader />
  <main class="container py-8 md:py-12 px-4 md:px-8 flex flex-col lg:flex-row gap-4">
    <Box cozy>
      <div class="prose mb-4">
        <h2 class="mb-4">Discover Charente-Maritime</h2>
        <WhyVisit1 />
      </div>
      <AreaPhotos layout="grid" />
      <div class="my-8">
        <a
          href="/"
          class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-md transition-colors inline-block"
          >Explore properties</a
        >
      </div>
      <div class="prose">
        <WhyVisit2 />
      </div>
    </Box>
    <Box cozy>
      {properties.map((property) => <PropertyCard property={property} />)}
    </Box>
  </main>
</Layout>
<!-- <a
        href="https://www.tripadvisor.com/Tourism-g2064961-Charente_Maritime_Nouvelle_Aquitaine-Vacations.html"
        class="bg-transparent text-white underline"
        target="_blank">Read more on TripAdvisor</a
      > -->
