---
import Layout from '../modules/Layout.astro';
import properties from '../data/properties';
import Property from '../components/Property.astro';
import SiteHeader from '../modules/SiteHeader.astro';
import Box from '../components/Box.astro';
---

<Layout>
  <SiteHeader />
  <main>
    <Box>
      {properties.map((property) => <Property property={property} layout="list" />)}
    </Box>
  </main>
</Layout>
