---
import Layout from '@modules/Layout/index.astro';
import properties from '@data/properties';
import PropertyCard from '@components/PropertyCard/index.astro';
import SiteHeader from '@modules/SiteHeader/index.astro';
import AreaInfo from '@modules/AreaInfo/index.astro';
---

<Layout>
  <SiteHeader />
  <main class="container bg-white p-8 flex flex-col gap-4">
    <div class="flex-auto pt-8">
      <div class="prose">
        <h2 class="font-medium">Find your stay in South West France</h2>
      </div>
      <div class="mt-8">
        {properties.map((property) => <PropertyCard property={property} wide />)}
      </div>
    </div>
    <div class="flex-auto p-8">
      <div class="flex flex-col gap-4">
        <div class="mb-8">
          <AreaInfo />
        </div>
        <div class="">
          <div class="prose">
            <h2>Le Domaine de Rochebonne</h2>
            <p>
              Le Domaine de Rochebonne is a beautiful property located in the heart of the
              Charente-Maritime. It is a perfect place to relax and enjoy the beautiful countryside.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
