---
import Layout from '../modules/Layout.astro';
import properties from '../data/properties';
import Property from '../components/Property/index.astro';
import SiteHeader from '../modules/SiteHeader.astro';
import Box from '../components/Box.astro';
import DiscoverCTA2 from '../components/DiscoverCTA2.astro';
---

<Layout>
  <SiteHeader />
  <main class="container bg-white p-8 flex flex-col gap-4">
    <div class="flex-auto pt-8">
      <h2 class="text-2xl font-bold">Your next holiday in South West France</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
        {properties.map((property) => <Property property={property} layout="gridItem" />)}
      </div>
    </div>
    <div class="flex-auto p-8">
      <div class="flex flex-col gap-4">
        <div class="mb-8">
          <DiscoverCTA2 />
        </div>
        <div class="">
          <div class="prose">
            <h2>Le Domaine de Rochebonne</h2>
            <p>
              Le Domaine de Rochebonne is a beautiful property located in the heart of the
              Charente-Maritime. It is a perfect place to relax and enjoy the beautiful countryside.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
