---
import Layout from "../layouts/Layout.astro";
import Hero from "../modules/Hero.astro";
import photo1 from "../images/old/chateau-pool-1.jpg";
---

<Layout>
	<Hero title="Your holiday home in France" image={photo1}>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
		</p>
	</Hero>
</Layout>
