---
import SearchPage from '@modules/SearchPage';
import properties from '@data/properties';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/SiteHeader/index.astro';
import { generateSearchResults } from '@utils/generateSearchResults';

// Generate search results at build time for all properties
const searchResults = generateSearchResults(properties);
---

<Layout>
  <SiteHeader page="search" />
  <main class="container p-4 md:p-8 pt-8 md:pt-16">
    <SearchPage properties={properties} client:load initialResults={searchResults} />
  </main>
</Layout>
