---
import Layout from '../modules/Layout.astro';
import Toolbar from '../components/Toolbar';
import WhyVisit1 from '../data/_fixtures/why-visit-1.md';
import WhyVisit2 from '../data/_fixtures/why-visit-2.md';
import AreaPhotos from '../components/AreaPhotos/index.astro';
import Box from '../components/Box.astro';
---

<Layout>
  <main>
    <Box cozy>
      <div class="flex flex-col lg:flex-row gap-8">
        <article class="prose">
          <h1 class="text-4xl font-bold mb-4">Visit south west France</h1>
          <WhyVisit2 />
          <a
            href="https://www.tripadvisor.com/Tourism-g2064961-Charente_Maritime_Nouvelle_Aquitaine-Vacations.html"
            class="bg-transparent text-white underline"
            target="_blank">Read more on TripAdvisor</a
          >
        </article>
        <div class="lg:max-w-[400px]"><AreaPhotos layout="list" /></div>
      </div>
    </Box>
  </main>
</Layout>
