---
import Availability from '@modules/Availability';
import styles from './styles.module.css';
import clsx from 'clsx';

import properties from '@data/properties';
import getSpecialDeals from '@lib/getSpecialDeals';
import Button from '@components/Button';
const searchResults = getSpecialDeals(properties);
const { className } = Astro.props;
---

<section class={clsx(styles.container, className, 'py-12 xl:py-16 px-8 text-center bg-waves')}>
  <div class="container">
    <h2 class="text-lg lg:text-2xl font-medium mb-6 md:mb-8 text-white">
      Find your perfect stay in sunny south-west France
    </h2>
    <Availability special properties={properties} initialResults={searchResults} />
    <div class="mt-4 md:mt-8">
      <Button href="/#availability">View all deals</Button>
    </div>
  </div>
</section>
