---
import Availability from '@modules/Availability';
import styles from './styles.module.css';
import clsx from 'clsx';

import properties from '@data/properties';
import getSpecialDeals from '@lib/getSpecialDeals';
import Button from '@components/Button';
const searchResults = getSpecialDeals(properties);
---

<section class={clsx(styles.container, 'py-12 px-8 text-center md:hidden')}>
  <h1 class="text-2xl font-bold">Find a vacation rental</h1>
  <h2 class="text-lg font-bold mb-4">Super deals available!</h2>
  <Availability special properties={properties} initialResults={searchResults} />
  <div class="mt-4">
    <Button href="/#availability">View all deals</Button>
  </div>
</section>
