---
import info from '../data/info';
---

<div class="text-white font-default">
  <div><i class="codicon codicon-mail"></i> {info.email}</div>
  <i class="codicon codicon-phone"></i>
  {info.phone}
</div>
