---
import { currencySymbol } from '../lib/utils';
const { property } = Astro.props;
const { lodgify } = property;
---

<h3 class="text-xl font-semibold mb-2">{property.name}</h3>
<p class="text-gray-600 mb-4">{property.intro}</p>
