---
import '@styles/global.css';
import '@styles/lodgify.css';
import '@styles/colors.css';
import '@vscode/codicons/dist/codicon.css';
import '@fontsource-variable/montserrat';
import '@fontsource-variable/open-sans';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Seaside France</title>
    <link rel="icon" href="/favicon-light.png" media="(prefers-color-scheme: dark)" />
    <link rel="icon" href="/favicon-dark.png" media="(prefers-color-scheme: light)" />
  </head>
  <body class="bg-white min-h-screen">
    <slot />
  </body>
</html>
