---
import Availability from '@modules/Availability';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader';
import getSearchResults from '@lib/getSearchResults';
import Box from '@components/Box/index.astro';
import WhyVisit2 from '@data/_fixtures/why-visit-2.md';
import PropertyList from '@modules/PropertyList/index.astro';
import PhotoBG from '@components/PhotoBG/index.astro';
import WhyVisit1 from '@data/_fixtures/why-visit-1.md';
import Button from '@components/Button';
import AreaPhotos from '@components/AreaInfo/AreaPhotos/index.astro';
import properties from '@data/properties';
import SpecialOffers from '@components/SpecialOffers/index.astro';

const searchResults = getSearchResults(properties);
const { showMore = false, page = 'home' } = Astro.props;
---

<Layout>
  <SiteHeader client:load page={page} />
  <main>
    <div class="grid grid-cols-1 xl:grid-cols-2">
      <div class="relative">
        <PhotoBG className="h-full pt-20 md:pt-0">
          <SpecialOffers />
        </PhotoBG>
      </div>
      <div class="bg-waves">
        <div class="container">
          <div class="py-16 px-8 md:py-40">
            <div class="prose text-white">
              <h2 class="mb-4 text-white">Discover Charente-Maritime</h2>
              <WhyVisit1 />
            </div>
            <AreaPhotos className="my-8" />
            <div class="flex gap-4">
              <Button variant="secondary" href="/#about-the-area"> Read more </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {
      showMore && (
        <Box cozy class="mb-8">
          <div class="prose" id="about-the-area">
            <WhyVisit2 />
          </div>
        </Box>
      )
    }
    <div class="container">
      <div class="pt-4 md:pt-8">
        <Availability properties={properties} client:visible initialResults={searchResults} />
        <PropertyList title="Other properties" />
      </div>
    </div>
  </main>
</Layout>
