---
import type { PropertyPage } from '@data/properties/types';

interface Props {
  property: PropertyPage;
}

const { property } = Astro.props;
import styles from './styles.module.css';
---

<div class={styles.features}>
  {property.features.map((feature) => <div class={styles.item}>{feature}</div>)}
</div>
