---
import { Picture } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import styles from './styles.module.css';
import clsx from 'clsx';

const photoModules = import.meta.glob<{ default: ImageMetadata }>(
  '/src/images/photos/area/*.{jpg,jpeg,png}'
);
const photoEntries = Object.entries(photoModules);
const { className } = Astro.props;
---

<div class={clsx(styles.container, className)}>
  {
    photoEntries.map(([filePath, importFn]) => {
      return (
        <div class={styles.item}>
          <Picture src={importFn()} alt={filePath} width={227} height={170} class={styles.image} />
        </div>
      );
    })
  }
</div>
