---
import Availability from '@modules/Availability';
import properties from '@data/properties';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader/index.astro';
import getSearchResults from '@lib/getSearchResults';
import Box from '@components/Box/index.astro';
import WhyVisit2 from '@data/_fixtures/why-visit-2.md';
import AreaInfo from '@components/AreaInfo/index.astro';
import PropertyList from '@modules/PropertyList/index.astro';

// Generate search results at build time for all properties
const searchResults = getSearchResults(properties);
const { showMore = false, page = 'home' } = Astro.props;
---

<Layout>
  <SiteHeader page={page} />
  <main class="container">
    <Box cozy class="mb-8">
      <AreaInfo showReadMore={!showMore} title="Discover Charente-Maritime" />
      {
        showMore && (
          <div class="prose">
            <WhyVisit2 />
          </div>
        )
      }
    </Box>
    <Availability properties={properties} client:visible initialResults={searchResults} />
    <PropertyList title="Other properties" />
  </main>
</Layout>
