---
import Availability from '@modules/Availability';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader/index.astro';
import getSearchResults from '@lib/getSearchResults';
import Box from '@components/Box/index.astro';
import WhyVisit2 from '@data/_fixtures/why-visit-2.md';
import PropertyList from '@modules/PropertyList/index.astro';
import Hero2 from '@components/Hero2/index.astro';
import WhyVisit1 from '@data/_fixtures/why-visit-1.md';
import Button from '@components/Button';

import properties from '@data/properties';
const searchResults = getSearchResults(properties);
const { showMore = false, page = 'home' } = Astro.props;
---

<Layout>
  <SiteHeader page={page} />
  <main>
    <Hero2>
      <div class="container">
        <div class="prose py-40 text-white">
          <h2 class="mb-4 text-white">Discover Charente-Maritime</h2>
          <WhyVisit1 />
          <div class="flex gap-4">
            <Button variant="secondary">Read more</Button>
            <Button href="#availability">Book your stay</Button>
          </div>
        </div>
      </div>
    </Hero2>
    {
      showMore && (
        <Box cozy class="mb-8">
          <div class="prose" id="about-the-area">
            <WhyVisit2 />
          </div>
        </Box>
      )
    }
    <div class="container">
      <Availability properties={properties} client:visible initialResults={searchResults} />
      <PropertyList title="Other properties" />
    </div>
  </main>
</Layout>
