---
import Availability from '@modules/Availability';
import properties from '@data/properties';
import Layout from '@modules/Layout/index.astro';
import SiteHeader from '@modules/Layout/SiteHeader/index.astro';
import { generateSearchResults } from '@utils/generateSearchResults';
import Box from '@components/Box/index.astro';
import PropertyCard from '@components/PropertyCard/index.astro';
import WhyVisit2 from '@data/_fixtures/why-visit-2.md';
import AreaInfo from '@components/AreaInfo/index.astro';

// Generate search results at build time for all properties
const searchResults = generateSearchResults(properties);
const { showMore = false, page = 'home' } = Astro.props;
---

<Layout>
  <SiteHeader page={page} />
  <main class="container">
    <Box cozy class="mb-8">
      <AreaInfo showReadMore={!showMore} title="Discover Charente-Maritime" />
      {
        showMore && (
          <div class="prose">
            <WhyVisit2 />
          </div>
        )
      }
    </Box>
    <Availability properties={properties} client:load initialResults={searchResults} />
    <Box cozy>
      <h2 class="text-2xl font-bold text-blue-900 mb-4">Other properties</h2>
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        {properties.map((property) => <PropertyCard property={property} />)}
      </div>
    </Box>
  </main>
</Layout>

<!-- <a
        href="https://www.tripadvisor.com/Tourism-g2064961-Charente_Maritime_Nouvelle_Aquitaine-Vacations.html"
        class="bg-transparent text-white underline"
        target="_blank">Read more on TripAdvisor</a
      > -->
