---
import clsx from 'clsx';
const { id, class: className, cozy = false, glassy = false } = Astro.props;
import styles from './styles.module.css';
---

<section
  id={id}
  class={clsx(styles.box, className, { [styles.cozy]: cozy, [styles.glassy]: glassy })}
>
  <slot />
</section>
