---
import clsx from 'clsx';
const { id, class: className, cozy = false } = Astro.props;
---

<div
  id={id}
  class={clsx(
    'bg-white p-8 border border-gray-200 rounded-xl shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300 mb-4',
    className,
    cozy && 'md:p-12 lg:p-16'
  )}
>
  <slot />
</div>
