---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Seaside France</title>
    <link rel="icon" href="/favicon-light.png" media="(prefers-color-scheme: dark)" />
    <link rel="icon" href="/favicon-dark.png" media="(prefers-color-scheme: light)" />
  </head>
  <body>
    <slot />
  </body>
</html> 