---
import WhyVisit1 from '@data/_fixtures/why-visit-1.md';
import AreaPhotos from './AreaPhotos/index.astro';
const { showReadMore = false, title } = Astro.props;
---

<div class="prose mb-4">
  {title && <h2 class="mb-4 text-blue-900">{title}</h2>}
  <WhyVisit1 />
  {
    showReadMore && (
      <p>
        <a href="/discover">Read more</a>
      </p>
    )
  }
</div>
<AreaPhotos />

<!-- <a
  href="https://www.tripadvisor.com/Tourism-g2064961-Charente_Maritime_Nouvelle_Aquitaine-Vacations.html"
  class="bg-transparent text-white underline"
  target="_blank">Read more on TripAdvisor</a
> -->
